{% extends 'base.html'%}
{% block content%}


<div class="container" style=" background-color: rgba(153, 198, 165, 0.55);">
  <h1 class="text-center" style="color: black; font-family: Georgia, 'Times New Roman', Times, serif;">TOTAL SALES MADE
  </h1>
  <hr>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Total Amount Received</th>
        <th scope="col">Total change Given</th>
        <th scope="col">Net Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>UGX{{total}}</td>
        <td>UGX{{change}}</td>
        <td>UGX{{net}}</td>
      </tr>
    </tbody>
  </table>
</div>
<br><br>

<div class="container" style=" background-color: rgba(153, 198, 165, 0.55);">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">child's name</th>
        <th scope="col">Doll Bought</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price(UGX)</th>
        <th scope="col">Total Cost</th>
        <th scope="col">Amount Paid</th>
        <th scope="col">balance</th>
      </tr>
    </thead>
    {% for sale in sales %}
    <tbody>
      <tr>


        <td>{{sale.baby_name | title}}</td>
        <td>{{sale.doll | title}}</td>
        <td>{{sale.quantity_sold}}</td>
        <td>UGX{{sale.unit_price}}</td>
        <td>UGX{{sale.get_total}}</td>
        <td>UGX{{sale.amount_received}}</td>
        <td>UGX{{sale.get_change}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock%}