{% extends 'base.html'%}
{% load static%}
{% block content%}

<div class="container" style="margin-bottom: 60px;">
    <div class="row">
        <div class="col-md-10" style="margin-left: 60px;">
            <div class="card" style="background-color:linear-gradient(to right, #93c29f, #438659);">


                <div class="card-header" style="width:95%;  background-color: rgba(153, 198, 165, 0.55);">
                    <table style="width: 100%; border-collapse: collapse;">
                        <tr>
                            <td style="vertical-align: top;">


                            </td>
                            <td style="text-align: right;">

                                <h4 class="v">Daystar daycare</h4>
                                <h4 class="v">Kampala</h4>
                                <h5>+256782781848</h5>
                                <h5>Date: {{ receipt.sale_date }}</h5>

                                <h6 style="padding-top: 20px;"> DOLL-RECEIPT-0{{receipt.id}}</h6>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; padding-top: 30px; padding-left: 10px;">
                                <h4 style="color: black;"><b>Paid for:</b> {{receipt.baby_name | title}}</h4>
                                <h4 style="color: black;"><b>Doll name: </b> {{receipt.doll| title}}</h4>
                                <h4 style="color: black;"><b>Quantity:</b> {{receipt.quantity_sold }}</h4>
                                <h4 style="color: black;"><b>Amount: </b> {{receipt.get_total | title}}</h4>
                                <h4 style="color: black;"><b>Amount paid:</b> {{ receipt.amount_received }}</h4>
                                <h4 style="color: black;"><b>Amount due: </b> {{ receipt.get_change }}</h4><br>
                                <h5 class="text-center" id="A"><b>Come again! Daystar</b></h5>

                            </td>
                        </tr>
                    </table>

                </div>


            </div>
        </div>
    </div>
</div>

{% endblock %}