.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #1b4965;
    color: white;
    float: left;
    height: 143.5vh;
  }

  .content {
    margin-left: 290px;
    padding: 20px;
  }

  .profile-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    
  }

  .profile-container h3 {
    margin: 0;
    font-size: 24px;
  }

  .search-container {
    margin-bottom: 20px;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar a {
    color: white;
    text-decoration: none;
  }

  .sidebar a:hover {
    color: white;
    background-color: darkblue;
  }

  .sidebar-footer {
    margin-top: auto;
  }

  .sidebar-footer a {
    color: white;
    text-decoration: none;
  }

  .sidebar-footer a:hover {
    text-decoration: underline;
  }

  .footer {
    /* background-color: rgba(7, 7, 7, 0.05); */
    background-color: #1b4965;
    text-align: center;
    padding: 10px;
    /* margin-top: 8%; */
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    /* color: white; */
  }

  body {
    min-height: 100vh;
    /* display: flex;
    flex-direction: column; */
  }