.sidebar {
    width: 250px;
    padding: 20px;
    
    background-color: #28a745;
    color: white;
    float: right;
    height: 143.5vh;
    display: flex;
    height: 100%;
    flex: 0 0 250px; 
    background-color: #337357;
    color: white;
    overflow-y: auto; 
  }

  .content {
    margin-left: 290px;
    padding: 20px;
  }

  .profile-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }



  


 

  .profile-container h3 {
    margin: 0;
    font-size: 24px;
  }

  .search-container {
    margin-bottom: 20px;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar a {
    color: white;
    text-decoration: none;
  }

  .sidebar a:hover {
    color: black;
    background-color: rgb(175, 218, 175);
  }

  .footer {
    text-align: center;
    padding: 10px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    position: fixed;
    width: 100%;

  }

  body {
    min-height: 100vh;
    
  }