
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<style>
    body {
        margin: 0;
        padding: 0;
        background-color: rgba(153, 198, 165, 0.55);
    }

    .container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh; /* Set container height to viewport height */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #bedcc4;
        padding: 20px;
    }

    label {
        font-weight: bold;
    }

    .footer {
        background-color: rgba(7, 7, 7, 0.05);
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
        font-weight: 900;
    }

    .login-form {
        background-color: #ddeedf;
        padding: 20px;
        border-radius: 5px;
    }

    button[type="submit"]:hover {
        background-color: #deede0;
        color: black;
        filter: blur(0.5px);
    }
</style>

<div class="container">

    <h2>ADMIN LOGIN</h2>

    <form method="post" class="login-form">
       
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-primary" style="border-radius: 10px; width: 60%; background-color:#438659; border:none; color: white;  height: 25%;">Sign In</button>
        <br><br>

    </form>

</div>

<footer class="footer">
    © 2024 Daystar Daycare. All rights reserved. Designed with ♥ by Akullu Winnifred.
</footer>


{% endblock %}
