{% extends 'base.html' %}


{% block content %}

<style>
    .container {
        padding-top: 20px;
        margin-top: 60px;
        margin-bottom: 60px;
        max-width: 800px;

        background-color: rgba(153, 198, 165, 0.55);
        padding: 20px;

    }

    h2 {
font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }

    
</style>


<button class="p-2 bg-teal-500 rounded-lg shadow-lg bg bg-success"
    style="margin-left: 70px; border-radius: 5px; border: #B4BDFF; width: 20%; height: 5%;"><a
        style="color: white; text-decoration: none;" href="/sitterpayment">Add new payment</a></button>
<br><br>

<form method="GET" style="margin-left: 70px;">
    {{ sitterpayment_filter.form }}
    <input type="submit" value = "search by name" class="btn btn-primary bg bg-success" style="border: none;">
    </form>


<div class="container">
    <div>
        <a href="{% url 'sitterpaymentlist' %}"> <i class="fa-solid fa-arrow-left" style="color: black;"></i></a>
       </div>
    <h2>SITTER PAYMENT LIST</h2>

    <table class="table table-striped" style="width: 90%; margin-left: 20px;">
        <thead>
            <tr>
                <th>#</th>
                <th>Sitter Name</th>
                <th>Date</th>
                <th>Baby count</th>
                <th>total Amount</th>
            </tr>
        </thead>

        <tbody>
            {% for each in sitterpayment %}
            <tr>
                <td> {{each.id}}</td>
                <td>{{each.sitter_name}}</td>
                <td>{{each.date}}</td>
                <td>{{each.baby_count}}</td>
                <td>{{each.total_amount}}</td>
    
</div>

</tr>
{% endfor %}
</tbody>

</table>

</div>


{% endblock %}