{% extends 'base.html' %}


{% block content %}
<style>
    .container {
        padding-top: 20px;
        margin-top: 30px;
        margin-bottom: 60px;
        max-width: 900px;

        background-color: rgba(153, 198, 165, 0.55);
        padding: 20px;

    }

    h2 {
font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }

    
</style>





<button class= "btn btn-primary bg bg-success" type="submit" style="border: none; margin-left: 30px;"><a href="{% url 'adding' %}" style="color: white; text-decoration: none;">ADD ITEMS</a></button>
<br><br>
<form method="GET" style="margin-left: 30px;">
    {{ stock_filter.form }}
    <input type="submit" value = "search by name" class="btn btn-primary bg bg-success" style="border: none;">
    </form>


<div class="container">
    <div>
        <a href="{% url 'allstock' %}"> <i class="fa-solid fa-arrow-left" style="color: black;"></i></a>
       </div>
    <h2 class="text-center">STOCK AT HAND</h2>

    <table class="table table-striped" style="width: 90%; margin-left: 20px;">
        <thead>
            <tr>
                <th>#</th>
                <th>Item Name</th>
                <th>Date</th>
                <th>Stock at hand</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for each in stocks %}
            <tr>
                <td> {{each.id}}</td>
                <td> {{each.item_name}}</td>
                <td>{{each.date_purchased}}</td>
                <td>{{each.stock_at_hand}}</td>
                <td>
                    <button class= "btn btn-primary bg bg-success" type="submit" style="border: none;"><a href="{% url 'issuing' each.id %}" style="color: white; text-decoration: none;">ISSUE OUT</a></button>
                    <button class= "btn btn-primary bg bg-success" type="submit" style="border: none;"><a href="{% url 'inventory' each.id %}" style="color: white; text-decoration: none;">ADD STOCK</a></button>
                </td>
    


            </tr>
        {% endfor %}
    </tbody>

    </table>

</div>


</div>
{% endblock %}