{% extends 'base.html' %}


{% block content %}
<form method="GET" action="{% url 'search_babies' %}" class="mb-3">
    <div class="input-group" style="margin-left: 40px; width: 80%; margin-bottom: 10px; border: 20px border-color:#337357">
    <input type="text" class="form-control" placeholder="Search" name="search_query">
    <button class="btn btn-outline-secondary" type="submit"> search</button>
    </div>

</form>

{% if search_query %}
<p>Search results for: '{{ search_query }}'</p>

{% endif %}



<div class="container">
    <h4 class="text-center">STOCK AT HAND</h4>

    <table class="table table-striped" style="width: 90%; margin-left: 20px;">
        <thead>
            <tr>
                <th>#</th>
                <th>Item Name</th>
                <th>Date</th>
                <!-- <th>Quantity bought</th> -->
                <!-- <th>Amount(UGX)</th> -->
                <!-- <th>Quantity</th> -->
                <th>Stock at hand</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for each in stocks %}
            <tr>
                <td> {{each.id}}</td>
                <td> {{each.item_name}}</td>
                <td>{{each.date_purchased}}</td>
                <!-- <td>{{each.quantity_bought}}</td> -->
                <!-- <td>{{each.amount_in_Ugx}}</td> -->
                <!-- <td>{{each.quantity}}</td> -->
                <td>{{each.stock_at_hand}}</td>
                <td>
                    <button class= "btn btn-primary bg bg-success" type="submit" style="border: none;"><a href="{% url 'issuing' each.id %}" style="color: white; text-decoration: none;">ISSUE OUT</a></button>
                    <button class= "btn btn-primary bg bg-success" type="submit" style="border: none;"><a href="{% url 'inventory' each.id %}" style="color: white; text-decoration: none;">ADD STOCK</a></button>
                </td>
    


            </tr>
        {% endfor %}
    </tbody>

    </table>

</div>

<style>
    .container {
        padding-top: 20px;
        margin-top: 60px;
        margin-bottom: 30px;
        max-width: 800px;

        background-color: rgba(153, 198, 165, 0.55);
        padding: 20px;
        /* margin-left: 100px; */

    }

    h2 {

        text-align: center;
    }

    
</style>


</div>
{% endblock %}