{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- <h3 class="text-center" style="font-family: 'Times New Roman', Times, serif;">FILL THE FORM TO REGISTER BABIES</h3> -->
<hr>
<div class="container">
    <h2>CHANGE PASSWORD</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}<br>
        <button type="submit" class="btn btn-primary" style="background-color: green; border: green; border-radius: 5px;">Change password</button>
    
    </form>
</div>

<style>
    .container {
        padding-top: 20px;
        max-width: 500px;
        margin: 0 auto; 
        /* background-color: #efefd0; */
        padding: 20px;
        background-color: rgba(153, 198, 165, 0.55);
        margin-right: 30%;
        margin-right: 30%;
            }
</style>

{% endblock %}
