<!-- {% extends 'base.html' %} -->
{% load crispy_forms_tags %}

{% block content %}

<h2 style="text-align: center; ">Forgot Password?</h2>
<p>Send recovery Email.</p>
<hr>
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}<br>
            <button type="submit"><a href="#" style="color:black !important ;text-decoration: none;">Submit</a></button>
    
            <a href="{% url 'login' %}" style="color:black !important ;text-decoration: none;" >Cancel</a>
    </form>
</div>

<style>
    .container {
        padding-top: 20px;
        max-width: 800px;
        margin: 0 auto; 
        background-color: #efefd0;
        padding: 20px;
            }
</style>

{% endblock %}






    