
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container">

    <h2>LOGIN</h2>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-primary" style="background-color: green; border-radius: 5px; border: #B4BDFF; width: 20%; height: 5%;">Login</button>
        <br><br>

    </form>

</div>

<footer class="footer">
    © 2024 Daystar daycare,All rights reserved.Designed by Akullu Winnifred
    
</footer>

<style>

    .container {
        padding-top: 20px;
        max-width: 300px;
        margin: 0 auto; 
        background-color: white;
        padding: 20px;
        margin-top: 10%;
        
            }

            
  label {
    /* color: #495057; */
    font-weight: bold;
  }


    body{
        background-color: rgba(153, 198, 165, 0.55);
        
    }


    .footer {
            background-color: rgba(7, 7, 7, 0.05);
            text-align: center;
            padding: 10px;
            margin-top: 8%;
            font-weight: 900;
        }

        
</style>

{% endblock %}
