{% extends 'base.html' %}


{% block content %}

<button class="p-2 bg-teal-500 rounded-lg shadow-lg"
style="margin-left: 10px;background-color: green; border-radius: 5px; border: #B4BDFF; width: 20%; height: 5%;"><a
    href="/babyreg"></a> Add sitter on duty</a></button>

<h2>List of sitters on duty</h2>
<div class="container">
<table class="table table-striped" style="width: 90%; margin-left: 20px;" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Sitter Number</th>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Duty status</th>
      </tr>
    </thead>
    <tbody>
        {% for each in sittersstatus %}
      <tr>
        <th scope="row">{{ each.Sitter_id }}</th>
        <th>{{ each.Sitter_Number }}</th>
        <td>{{ each.name }}</td>
        <td>{{ each.date }}</td>
        <td>{{ each.attendance_status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<style>

.container {
        padding-top: 20px;
        margin-top: 20px;
        max-width: 800px;

        background-color: rgba(153, 198, 165, 0.55);
        padding: 20px;
        /* margin-left: 100px; */

    }

 h2{

    text-align: center;
 }

</style>

{% endblock %}
