{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h3 class="text-center" style="font-family: 'Times New Roman', Times, serif;">SITTER REGISTRATION FORM</h3>
<hr>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        {{ getsitterform|crispy }}<br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<style>
    .container {
        /* width: 100%; */
        padding-top: 20px;
        margin-top: 20px;
        max-width: 500px;
        /* width: 100%; */
        /* margin: 0 auto;  */
        /* background-color: #efefd0; */
        background-color: rgba(153, 198, 165, 0.55);
        padding: 20px;
        margin-left: 250px;
        /* display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px; */
        /* margin: 20%; */
            }
</style>

{% endblock %}
