{% extends 'base.html' %}


{% block content %}
<button class="p-2 bg-teal-500 rounded-lg shadow-lg"
    style="margin-left: 10px;background-color: green; border-radius: 5px; border: #B4BDFF; width: 20%; height: 5%;"><a style="color: black; text-decoration: none;"
        href="/babyreg">Add new baby</a></button>


<h4 class="text-center">List of registered babies</h4>

<div class="container">


    <table class="table table-striped" style="width: 90%; margin-left: 20px;" >
        <thead>
          <tr>
                <th>#</th>
                <th>Baby Number</th>
                <th>Period of stay</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Parents Name</th>
                <th>action</th>
           </tr>
           </thead>

        <tbody>
            {% for each in babies %}
            <tr>
                <td> {{each.id}}</td>
                <td> {{each.Baby_Number}}</td>
                <td>{{each.Period_of_stay}}</td>
                <td>{{each.name}}</td>
                <td>{{each.gender}}</td>
                <td>{{each.age}}</td>
                <td>{{ each.Parents_Name}}</td>
                <td>
                    <button class="p-2 bg-teal-500 rounded-lg shadow-lg"
                    style="margin-left: 10px;background-color: green; border-radius: 5px; border: #B4BDFF; width: 90%; height: 5%;"><a style="color: black; text-decoration: none;"
                        href="read/{{each.id}}">read</a></button>

                    <!-- <a href="read/{{each.id}}">read</a> -->

                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>

<style>

.container {
        padding-top: 20px;
        margin-top: 20px;
        max-width: 800px;

        background-color: rgba(153, 198, 165, 0.55);
        padding: 20px;
        /* margin-left: 100px; */

    }

 h2{

    text-align: center;
 }


</style>


</div>









{% endblock %}