{% extends 'base.html' %}


{% block content %}


<style>
    .container {
        padding-top: 20px;
        margin-top: 30px;
        margin-bottom: 60px;
        max-width: 900px;

        background-color: rgba(153, 198, 165, 0.55);
        padding: 20px;
    }

    h2 {

        text-align: center;
    }
</style>

<button class="p-2 bg-teal-500 rounded-lg shadow-lg bg bg-success"
    style="margin-left: 20px; border-radius: 5px; border: #B4BDFF; width: 20%; height: 5%;"><a
        style="color: white; text-decoration: none;" href="/babyreg">Add new baby</a></button>
<br><br><br>

<form method="GET" style="margin-left: 20px;">
    {{ baby_filter.form }}
    <input type="submit" value="search by sittername" class="btn btn-primary bg bg-success" style="border: none;">
</form>


<div class="container">
    <div>
        <a href="{% url 'all_babies' %}"> <i class="fa-solid fa-arrow-left" style="color: black;"></i></a>
    </div>
    <h4 class="text-center" style="font-family: Georgia, 'Times New Roman', Times, serif;">LIST OF REGISTERED BABIES
    </h4>
    <hr>

    <table class="table table-striped" style="width: 90%; margin-left: 20px;">
        <thead>
            <tr>
                <th>#</th>
                <th>Baby Number</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Parents Name</th>
                <th>Assigned</th>
                <th>action</th>
            </tr>
        </thead>

        <tbody>
            {% for each in babies %}
            <tr>
                <td> {{each.id}}</td>
                <td>B0{{each.Baby_Number}}</td>
                <td>{{each.name}}</td>
                <td>{{each.gender}}</td>
                <td>{{ each.Parents_Name}}</td>
                <td>{{ each.Assigned_to}}</td>
                <td>
                    <div>
                        <button type="button" class="btn btn-success mr-1"><a href="{% url 'read' id=each.id %}"
                                class="btn" style="color: white;"><i class="fa-brands fa-readme"></i>
                                <a href="{% url 'baby_edit' id=each.id %}" class="btn" style="color: white;"><i
                                        class="fa-solid fa-pen"></i>
                                    <a href="{% url 'delete_baby' baby_id=each.id %}" class="btn"
                                        style="color: white;"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>

</div>

{% endblock %}