{% extends 'base.html' %}


{% block content %}

<button class="p-2 bg-teal-500 rounded-lg shadow-lg"
    style="margin-left: 10px;background-color: green; border-radius: 5px; border: #B4BDFF; width: 20%; height: 5%;"><a
        href="/arrival"></a> Signin new baby</a></button>

<h2>List of Babies signed in</h2>
<div class="container">


<table class="table table-striped" style="width: 90%; margin-left: 20px;" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Brought by</th>
        <th scope="col">Time in</th>
        <th scope="col">Assigned to</th>
      </tr>
    </thead>
    <tbody>
        {% for baby in babysignin %}
      <tr>
        <th scope="row">{{ baby.id }}</th>
        <td>{{ baby.baby_name }}</td>
        <td>{{ baby.Brought_by }}</td>
        <td>{{ baby.Time_In }}</td>
        <td>{{ baby.Assigned_to }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<style>

.container {
        padding-top: 20px;
        margin-top: 20px;
        max-width: 800px;

        background-color: rgba(153, 198, 165, 0.55);
        padding: 20px;
        margin-left: 100px;

    }

 h2{

    text-align: center;
 }

</style>

{% endblock %}