{% extends 'base.html' %}


{% block content %}

<style>

  .container {
          padding-top: 20px;
          margin-top: 60px;
          margin-bottom: 30px;
          max-width: 800px;
  
          background-color: rgba(153, 198, 165, 0.55);
          padding: 20px;
          margin-left: 100px;
  
      }
  
   h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
      text-align: center;
   }
  
  </style>
  

<button class="p-2 bg-teal-500 rounded-lg shadow-lg bg bg-success"
    style="margin-left: 100px;border-radius: 5px; border: #B4BDFF; width: 20%; height: 5%;"><a
        href="/babyreg"></a> Signout new baby</a></button><br><br>

        <form method="GET" style="margin-left: 100px;">
          {{ baby_filter.form }}
          <input type="submit" value = "search by name" class="btn btn-primary bg bg-success" style="border: none;">
          </form>


<div class="container">
  <div>
    <a href="{% url 'babiesdeparture' %}"> <i class="fa-solid fa-arrow-left" style="color: black;"></i></a>
   </div>
  <h2>LIST OF CHECKEDOUT BABIES</h2><hr>

<table class="table table-striped" style="width: 90%; margin-left: 20px;" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Picked by</th>
        <th scope="col">Time out</th>
      </tr>
    </thead>
    <tbody>
        {% for baby in babiesdeparture %}
      <tr>
        <th scope="row">{{ baby.id }}</th>
        <td>{{ baby.baby_name }}</td>
        <td>{{ baby.departure_time }}</td>
        <td>{{ baby.picked_up_by }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}